
        .text1{
            margin-top: 0px;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            font-family: Roboto;
            margin-bottom: 10px;
        }
        .image1{
            width: 100%;
            border-radius: 9px;
        }
        .image1:hover{
            border-radius: 1px;


        }
        .text11,
        .text12{
            font-size: 12px;
            color: rgb(96,96,96)
        }
        .text11{
             margin-bottom: 4px;
        }
        .div-1stbox{
        }
        
        .channel-picture{
        }
         .channel-info{
           margin-left: 8px;
        }
        .channel-photo{
            display: inline-block;
            width: 36px;
            border-radius: 50px;     
        }
        .channel-row{
            margin-bottom: 8px;
            position: relative;
        }
        .video-prev-grid{
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
            padding: 16px;
        }
        .video-time{
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;
            font-family: Robot, Arial;
            font-size: 12px;
            font-weight: 500;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 2px;
            border-color: black;



        }
        .channel-hover{
            position: relative;
            display: inline-block;
    
        }
        .channel-hover .tooltip2{
     font-family:Roboto,Arial;
    position: absolute;
    color: rgb(179, 173, 173);
    background-color: rgb(253, 251, 251);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -70px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
        }
    .channel-hover:hover .tooltip2{
        opacity: 1;
    }