 p {
       
       # font-family: Arial;

    }
    .TEXT{
        font-family: rubik distressed;
        font-weight: Bold;
        font-size: 18px;
        width: 300px;
        line-height: 25px;
        margin-bottom: 5px;
        text-shadow: 10px 10px 3px gray; 
        
        
    }
    .mytext{
        font-style: italic;
        font-size: 18px;
        width: 400px;
        line-height: 20px;
        color: Gray;
        margin-top: 0px;
        margin-bottom: 20px;
    }
      .my2text{
        font-style: bolder;
        font-size: 14px;
        width: 150px;
        color: blue;
        margin-top: 0px;
        margin-bottom: 0px;
    }
     .my3text{
        font-style: italic;
        font-size: 16px;
        width: 500px;
        color: purple;
        margin-top: 0px;
        margin-bottom: 170px;
        line-height: 20px;
    }
    .my4text{
        margin-bottom: 50px;
        font-size: 20px;
        background-color: Red;
        width: 400px;
        color: white;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
       
    }
    .MID{
        color: black;
    }
    .MID:hover {
        color: white;
        text-decoration: underline;
        

    }