.SUBSCRIBE-BUTTON {
        background-color: hsla(0, 63%, 38%, 1.00);
        color: white;
        border: none;   
        border-radius: 4px;
        cursor: pointer;
        margin: 18px;
        transition: opacity 0.5s;
        box-shadow: 10px 10px 10px black;   
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
     .JOIN-Button {
        background-color: hsla(0, 20%, 98%, 1.00);
        color: blue;
        height: 36px;
        border: none;
        width: 105px;
        border-radius: 4px;
        border-style: solid;
        cursor: pointer;
        box-shadow: 10px 10px 10px green;     
    }
     .Tweet-Button {
        background-color: hsla(209, 81%, 60%, 1.00);
        color: white;
        height: 36px;
        border: none;
        width: 105px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;   
    }
    .SUBSCRIBE-BUTTON:hover{
        background-color: hsla(0, 32%, 60%, 1.00);
        opacity: 0.2;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;    
    }
     .SUBSCRIBE-BUTTON:active{
        background-color: hsla(108, 77%, 36%, 1.00);
    }
    .Tweet-Button:hover{
         box-shadow: 10px 10px 10px black; 
    }