.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.left-section{
    
    display: flex;
    align-items: center;

}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;

}
.right-section{
    background-color: lightblue;
}
.hamburger-menu{
    height: 20px;
    margin-left: 24px;
    margin-right: 20px;

}
.youtube-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 60px;
    
}
.voice-search-button{
    height: 40px;
    width: 40px;
}
.search-bar{
    flex: 1;
    height: 36px;
     padding-left: 10px;
     font-size: 16px;
     border-width: 1px;
     border-color: rgb(196, 188, 188);
     border-style: solid;
     border-radius: 3px;
     box-shadow: inset 2px 3px 4px
      rgb (0, 0, 0 ,0.15);


}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
   

}