
        .text1{
            margin-top: 0px;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
            font-family: bold;
            margin-bottom: 12px;
        }
        .image1{
            width: 100%;
        }
        .text11,
        .text12{
            font-size: 12px;
            color: rgb(96,96,96)
        }
        .text11{
             margin-bottom: 4px;
        }
        .div-1stbox{
        }
        .channel-picture{
        }
         .channel-info{
           margin-left: 8px;
        }
        .channel-photo{
            display: inline-block;
            width: 100%;
            border-radius: 50px;     
        }
        .channel-row{
            margin-bottom: 12px;
        }
        .video-prev-grid{
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }